set timeout=0
set default=0
set root=(cd0)
set gfxpayload=text
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input/terminal_output serial console

menuentry "OS using grub2" {
   multiboot2 /jxcore console=ttyS0,115200
   module2 /code.zip
}
